.btn.nohover  {
    pointer-events: none;
}

.btn.nohover:hover {
    pointer-events: none;
}

.panel-default{
    cursor:pointer;
}

.panel-body {
    position: relative;
}

.panel-selected {
  border-color: #353535;
}

.panel-selected > .panel-footer {
  color: #353535;
  background-color: #bababa;
  border-color: #353535;
}

.clickable-element{
    cursor:pointer;
}

.object-box-footer{
    height: 4.7em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 4px;
    font-size: 10px;
}

.object-box-footer-long {
    height: 7.6em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 4px;
    font-size: 10px;
}

.object-box img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left : auto;
    margin-right : auto;
}

.object-box:hover > .panel-body {
    background-color: #e2e0e0;
}

.object-box > .panel-body {
    padding : 12px;
}

.modal-title {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}

.ibox-heading {
    background-color : unset !important;
}

.moment-picker {
    z-index: 5000 !important;
}

.CodeMirror-focused .cm-matchhighlight {
    background-color: lightgreen;
}

.context-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;

}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  cursor: pointer;
}

.context-menu__items li:hover {
  background-color: #DEF;
}

.footer {
    z-index: 25;
}

.no-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disabled-fa-button, button[disabled="disabled"]{
    color: darkgray;
    cursor: not-allowed !important;
}

.waiting, .waiting * {
    cursor: wait !important;
}
.chart-toolbtn {
    position: absolute;
    top: 0px;
    color: rgba(104, 106, 108, 0.5);
}

.chart-toolbtn:hover, .chart-toolbtn:active {
    color: rgb(104, 106, 108);
    cursor: pointer;
}

.pa-shortcut {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow-x: hidden;
    transition: width 300ms;
    transition-timing-function: ease;
    -webkit-transition: width 300ms;
    -webkit-transition-timing-function: ease;
    margin-left: 0px;
    line-height: 25px;
}

.pa-shortcuts {
    transition: width 500ms;
    transition-timing-function: ease;
    -webkit-transition: width 500ms;
    -webkit-transition-timing-function: ease;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 4px;
}

.btn-group.pa-shortcuts {
    height: 40px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 3px;
}

.gantt-date-change-button {
    height: 80%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #e7eaec;
    background: none;
}
.gantt-date-change-button:active , .gantt-date-change-button:focus , .gantt-date-change-button:hover {
    background : #e6e6e6
}
.gantt-scales-btn-group {
    margin: 0px 10px;
    display: flex;
}
.gantt-side {
    min-width : 150px;
    width : 300px;
}
.gantt-scales-btn-group label {
    font-size: 12px;
    height: 80%;
}
#gantt-legend-panel {
    position: absolute;
    top : 60px;
    left: 60px;
    z-index: 2002;
    display: grid;
    cursor : move;
    width: 520px;
}
#gantt-legend-panel .legend-color {
    width: 60px;
    height:20px;
    margin: 5px;
    border-radius: 2px;
}
#gantt-legend-panel .legend-title {
    margin-top: 7px;
    font-weight: 600;
}
#legend-wrapper {
    display: grid;
}
#legend-group-task-container {
    display: inline-flex;
    margin: 5px;
}
#legend-group-task-main {
    width: 60px;
    height: 10px;
    background: rgb(99, 136, 205);
}
#legend-group-task-before {
    margin-right: -10px;
}
#legend-group-task-after {
    margin-left: -10px;
}
#legend-group-task-before, #legend-group-task-after {
    margin-top: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgb(99, 136, 205);
}
#gantt-action-buttons-panel {
    margin-left: auto;
    display: inline-flex;
}
#gantt-action-buttons-panel button {
    width: 140px;
    height: 30px;
    margin: 20px 5px 10px 5px;
}
#refresh-gantt-button {
    margin-left: 10px;
    background-color: #d9534f;
    color: #FFF;
    border-radius: 3px;
    border: none;
}
#gantt-last-refresh-date {
    color: #d9534f;
    font-weight: bold;
    font-size: 12px;
    text-align: end;
}

.fakeable {
    display: none;
}

.fake {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 55px);
    background: #e3e3e3;
    overflow: hidden;
    display: block !important;
}

.fake:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
    transform: translateX(-100%);
    animation: loading 1s infinite;
}
.gantt-task-info-content {
    color:rgba(70,101,158);
    font-weight: 600;
}

.gantt-current-date-line {
    border:2px dotted #d9534f;
    z-index: 1;
}

.gantt-task-info-content hr {
    margin: 7px 2px;
}

@media (max-width: 1199px){
    .pa-shortcut {
        width: 0px !important;
        padding: 0px;
    }

    .pa-shortcuts:not(.logout-btn){
        width: 45px !important;
    }
}

@media (max-width: 768px){
    .second-row-bar {
        display: none;
    }
}

@-moz-document url-prefix() {
    button[class~="fa"] {
        padding: 2px !important;
    }
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    /**    border-left-color: #ccc;*/
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    /**    border-left-color: #fff;*/
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}