.btn.nohover  {
    pointer-events: none;
}

.btn.nohover:hover {
    pointer-events: none;
}

.panel-default{
    cursor:pointer;
}

.panel-body {
    position: relative;
}

.panel-selected {
  border-color: #353535;
}

.panel-selected > .panel-footer {
  color: #353535;
  background-color: #bababa;
  border-color: #353535;
}

.clickable-element{
    cursor:pointer;
}

.object-box-footer{
    height: 4.7em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 4px;
    font-size: 10px;
}

.object-box-footer-long {
    height: 7.6em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 4px;
    font-size: 10px;
}

.object-box img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left : auto;
    margin-right : auto;
}

.object-box:hover > .panel-body {
    background-color: #e2e0e0;
}

.object-box > .panel-body {
    padding : 12px;
}

.modal-title {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}

.ibox-heading {
    background-color : unset !important;
}

.moment-picker {
    z-index: 5000 !important;
}

.CodeMirror-focused .cm-matchhighlight {
    background-color: lightgreen;
}

.context-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;

}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  cursor: pointer;
}

.context-menu__items li:hover {
  background-color: #DEF;
}

.footer {
    z-index: 25;
}

.no-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disabled-fa-button, button[disabled="disabled"]{
    color: darkgray;
    cursor: not-allowed !important;
}

.waiting, .waiting * {
    cursor: wait !important;
}

.pa-shortcut {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow-x: hidden;
    transition: width 300ms;
    transition-timing-function: ease;
    -webkit-transition: width 300ms;
    -webkit-transition-timing-function: ease;
    margin-left: 0px;
    line-height: 25px;
}

.pa-shortcuts {
    transition: width 500ms;
    transition-timing-function: ease;
    -webkit-transition: width 500ms;
    -webkit-transition-timing-function: ease;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.btn-group.pa-shortcuts {
    height: 40px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 3px;
}

@media (max-width: 1199px){
    .pa-shortcut {
        width: 0px !important;
        padding: 0px;
    }
}

@media (max-width: 768px){
    .second-row-bar {
        display: none;
    }
}

@-moz-document url-prefix() {
    button[class~="fa"] {
        padding: 2px !important;
    }
}