<div class="inmodal" ng-class="catalog-objects-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="get-modal-title">Get from the Catalog</h3>
    </div>

    <div id="catalog-get-body" class="modal-body" style="height:100%">
        <div id="catalog-get-container">
            <table>
                <tr>
                    <td style="width: 250px;">
                        <fieldset>
                            <legend class="row">
                                <div class="pull-left" style="font-weight: bold;padding-left: 15px;">Buckets</div>
                                <div class="pull-right" id="get-show-all-checkbox">
                                    <label class="checkbox-inline"><input type="checkbox">Show all</label>
                                </div>
                            </legend>
                            <div style="height: 270px; overflow: auto;">
                                <table id="catalog-get-buckets-table" style="width: 100%;">
                                    <tr ng-repeat="bucket in buckets track by $index"
                                        id="bucket{{$index}}"
                                        class="clickable-element"
                                        ng-class="($index==selectedBucketIndex)?'catalog-selected-row':''"
                                        ng-click="internalSelectBucket($index, bucket.name)">
                                        <td title="{{bucket.name}}">{{bucket.name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </td>
                    <td  style="width: 500px;">
                        <fieldset>
                            <legend style="font-weight: bold;" id="catalog-objects-legend">Catalog Objects</legend>
                            <div style="height: 270px; overflow: auto;">
                                <table id="catalog-get-objects-table" style="width: 100%;">
                                    <tr ng-repeat="catalogObject in catalogObjects track by $index"
                                        id="catalogObject{{$index}}"
                                        class="clickable-element"
                                        ng-class="($index==selectedCatalogObjectIndex)?'catalog-selected-row':''"
                                        ng-click="internalSelectObject($index, catalogObject.name)">
                                        <td title="{{catalogObject.name}}">{{catalogObject.name}}</td>
                                        <td title="{{catalogObject.project_name}}">{{catalogObject.project_name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </td>
                    <td style="width: 200px;">
                        <fieldset>
                            <legend style="font-weight: bold;">Revisions</legend>
                            <div style="height: 270px; overflow: auto;">
                                <table id="catalog-get-revisions-table" style="width: 100%;">
                                    <tr ng-repeat="revision in revisions track by $index"
                                        id="revision{{$index}}"
                                        class="clickable-element"
                                        ng-class="($index==selectedRevisionIndex)?'catalog-selected-row':''"
                                        ng-click="internalSelectRevision($index, revision.name)">
                                        <td ng-if="revision.isLatest">Latest</td>
                                        <td ng-if="!revision.isLatest">{{revision.commit_time}}</td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </td>
                    <td style="width: 350px;">
                        <fieldset>
                            <legend style="font-weight: bold;">Description</legend>
                            <div id="catalog-get-description-container" style="height: 270px; overflow: auto;">
                                <div id="catalog-get-revision-description">
                                    <table>
                                        <tr style="width:50%;">
                                            <th style="width:40%;">{{kindLabel}} name</th>
                                            <td>{{revision.name}}</td>
                                        </tr>
                                        <tr ng-if="revision.project_name">
                                            <th>Project name</th>
                                            <td>{{prevision.project_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Commit message</th>
                                            <td>{{prevision.commit_message}}</td>
                                        </tr>
                                        <tr>
                                            <th>Committed by</th>
                                            <td>{{prevision.username}}</td>
                                        </tr>
                                        <tr>
                                            <th>Direct URL</th>
                                            <td><a href="{{revision.links[1].href}}">{{revision.links[1].href.substring(0,30)+"..."}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button id="catalog-get-select-button" class="btn btn-primary" ng-click="selectCatalogObject()">
            Select
        </button>
        <button id="catalog-get-close-button" class="btn btn-white" ng-click="cancel()">
            Close
        </button>
    </div>
</div>