<div class="inmodal" ng-class="file-browser-modal">

    <div class="modal-header">
        <button type="button" class="close close-modal-btn" ng-click="cancel()">×</button>
        <h4>{{title}}</h4>
        <h5>
            {{'Browse, Upload/Download files in'|translate}} {{locationDescription}} <span ng-if="variable">, {{'Select one'|translate}} <span ng-if="selectFolder"> {{'folder'|translate}} </span> <span ng-if="!selectFolder"> {{'file'|translate}} </span> {{'as the variable value'|translate}} </span>
            <br/>
            <br/>
            {{spaceDescription}}
        </h5>
    </div>

    <div id="files-body" class="modal-body">
        <div>
            <button id="refresh-file-btn" title="{{'Refresh files'|translate}}" class="btn btn-white" ng-click="refreshFiles()">
                <i class="fa fa-repeat"></i>
            </button>
            <button id="new-folder-btn" title="{{'New folder'|translate}}" class="btn btn-white"  ng-click="createFolder()">
                <i class="fa fa fa-plus"></i>
            </button>
            <input type="file" id="selected-upload-file"  onchange="angular.element(this).scope().fileSelected(this.files)" class="hidden" />
            <button id="upload-file-btn" title="{{'Upload a file'|translate}}" class="btn btn-white" ng-click="clickUpload()">
                <i class="fa fa-upload"></i>
            </button>
            <button id="download-file-btn" title="{{'Download the selected file or folder'|translate}}" class="btn btn-white" ng-click="downloadFile()">
                <i class="fa fa-download"></i>
            </button>
            <button id="delete-file-btn" title="{{'Delete the selected file or folder'|translate}}" class="btn btn-white" ng-click="deleteFile()">
                <i class="fa fa-trash"></i>
            </button>
            <div class="pull-right" style="display:inline">
                <div uib-dropdown class="uploading-files-dropdown" ng-if="$root.uploadingFiles && $root.uploadingFiles.length > 0" style="display:inline">
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle><i class="fa fa-upload"></i>Uploading {{$root.uploadingFiles.length}} files   <i class="fa fa-clock-o"></i>{{($root.totalRemainTime) ? $root.totalRemainTime : "--:--:--"}} left</button>
                    <ul uib-dropdown-menu role="menu" class="pull-right" style="width: 500px;">
                        <li ng-repeat="upload in $root.uploadingFiles" class="uploading-file-item {{upload.id}}">
                            <div style="display:inline">
                                <label style="display:inline">{{upload.filename}}</label>
                                <div class="pull-right" style="display:inline">
                                    <label class="upload-progress">{{upload.size}}</label>
                                    <i class="fa fa-upload"></i>
                                    <label class="upload-speed">0 bps</label>
                                    <i class="fa fa-clock-o"></i>
                                    <label class="upload-remaining-time"></label>
                                    <button class="btn btn-white cancel-upload-btn" ng-click="cancelFileUpload(upload.id)" title="{{'Cancel the file uploading'|translate}}" style="border:none;background:transparent;">
                                        <i class="fa fa-times-circle" style="color:red"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="progress progress-mini" style="width: 100%">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <label class="checkbox-inline"><input id="show-hidden-files" type="checkbox" ng-model="showHiddenFiles" ng-change="showHiddenFilesChange()">{{'Show Hidden'|translate}}</label>
            </div>
        </div>
        <br>

        <span class="font-bold m-r-xs">
            {{'Location'|translate}}:
        </span>
        <span><a href="javascript:void(0)" id="sub-path-home-btn" value="" ng-click="enterDir($event)">/</a></span>

        <ol class="breadcrumb" style="background-color: transparent; border:none;display: inline-flex;">
            <li class="breadcrumb-item"  ng-repeat="subPath in currentPath.split('/') track by $index" ng-if="subPath"><a href="javascript:void(0)" value="{{currentPath.split('/').slice(0, $index+1).join('/')}}/" ng-click="enterDir($event)">{{(subPath.length > 30) ? subPath.substring(0, 30) + " ..." : subPath}}</a></li>
        </ol>
        <br>
        <div id="files-container" slim-scroll box-height="48vh" style="overflow-wrap: break-word;">
            <table class="table table-hover" style="background-color: white; width: 100%; table-layout:fixed;">
                <thead>
                    <th>Name</th>
                    <th width="80em">{{'Rights'|translate}}</th>
                    <th width="80em">{{'Size'|translate}}</th>
                    <th width="120em">{{'Type'|translate}}</th>
                    <th width="160em">{{'Last Modified'|translate}}</th>
                </thead>
                <tbody id="files-tbody">
                    <tr class="file-browser-dir-tr" ng-repeat="dir in directories track by $index" ng-if="dir.name.indexOf('.') != 0 || showHiddenFiles === true" ng-click="switchSelected($event)" ng-dblclick="enterFilesSubdir($event)">
                        <td  class="file-browser-dir" value="{{currentPath}}{{dir.name}}/"> <i class="fa fa-folder-o"> </i> {{dir.name}} </td>
                        <td> {{dir.rights}} </td>
                        <td> </td>
                        <td> Folder </td>
                        <td> {{dir.modified}} </td>
                    </tr>
                    <tr class="file-browser-file-tr" ng-repeat="file in files track by $index" ng-if="file.name.indexOf('.') != 0 || showHiddenFiles === true" ng-click="switchSelected($event)" >
                        <td  class="file-browser-file" value="{{currentPath}}{{file.name}}"> <i class="fa fa-file-o"> </i> {{file.name}} </td>
                        <td> {{file.rights}} </td>
                        <td> {{file.size}} </td>
                        <td> {{file.type}} </td>
                        <td> {{file.modified}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <label id="file-browser-error-message" style="color:red;"></label>
    </div>

    <div class="modal-footer">
        <button ng-if="variable" class="btn btn-white file-browser-select-btn" ng-click="selectFile()" type="button"> {{'Select'|translate}} </button>
        <button ng-if="variable" class="btn btn-white close-modal-btn" type="button" ng-click="cancel()"> {{'Cancel'|translate}} </button>
        <button ng-if="!variable" class="btn btn-white close-modal-btn" type="button" ng-click="cancel()"> {{'Close'|translate}} </button>
    </div>
</div>
