<div class="inmodal">

    <div class="modal-header">
        <button type="button" class="close close-modal-btn" ng-click="cancel()">×</button>
        <h4 class="modal-title"> {{workflow.name}} {{'visualization'|translate}} </h4>
    </div>

    <div class="modal-body" style="padding:5px; background-color:transparent;">
        <h3 ng-show="!visualization" class="text-danger" style="text-align:center;">{{'This'|translate}} {{ catalogObjectKind() }} {{"catalog object cannot have a visualization"|translate}}.</h3>
        <h3 ng-show="isWorkflow() && !visualization" class="text-danger" style="text-align:center;">{{'To create one, open the workflow in the Studio and republish it to the Catalog'|translate}}.</h3>
        <div class="workflow-visu" ng-controller="WorkflowVisualizationController" ng-bind-html="visualization"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'Close'|translate}}</button>
        <button ng-show="visualization" type="button" class="btn btn-primary" ng-click="exportVisu()">{{'Download (PNG)'|translate}}</button>
        <button ng-show="isWorkflow()" type="button" class="btn btn-primary" ng-click="openStudio()">{{'Open in studio'|translate}}</button>
    </div>
</div>