<div class="inmodal">

    <div class="modal-header">
        <button type="button" class="close close-modal-btn" ng-click="cancel()">×</button>
        <h4 class="modal-title"> {{workflow.name}} {{'visualization'|translate}} </h4>
    </div>

    <div class="modal-body p-md" style="height: 70vh; background-color:transparent;">
        <h3 ng-show="!visualization" class="text-danger" style="text-align:center;">{{'This'|translate}} {{ catalogObjectKind() }} {{"catalog object cannot have a visualization"|translate}}.</h3>
        <h3 ng-show="isWorkflow() && !visualization" class="text-danger" style="text-align:center;">{{'To create one, open the workflow in the Studio and republish it to the Catalog'|translate}}.</h3>
        <div class="h-100 w-100 p-sm" style="overflow: auto">
            <div style="position: absolute;top: 20px;right: 80px;font-size: 21px;z-index: 100">
                <i class="fa fa-search-plus clickable" ng-click="zoomInOut(1)" aria-hidden="true"
                   ng-class="{'disabled text-muted':visuZoomFactor >=2}"
                   uib-tooltip="{{(visuZoomFactor * 100 | number:0) + '%'}}"></i>
                <i class="fa fa-search-minus clickable" ng-click="zoomInOut(-1)" aria-hidden="true"
                   ng-class="{'disabled text-muted':visuZoomFactor <0.2 && visuZoomFactor >=0.1}"
                   uib-tooltip="{{(visuZoomFactor * 100 | number:0) + '%'}}"></i>
            </div>
            <div id="workflow-graph-in-modal" class="workflow-visu" ng-controller="WorkflowVisualizationController" ng-bind-html="visualization"></div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'Close'|translate}}</button>
        <button ng-show="visualization" type="button" class="btn btn-primary" ng-click="exportVisu()">{{'Download (PNG)'|translate}}</button>
        <button ng-show="isWorkflow()" type="button" class="btn btn-primary" ng-click="openStudio()">{{'Open in studio'|translate}}</button>
    </div>
</div>