<div id="login-view"  ng-controller="loginController">
    <div class="login-container">
        <img src="styles/patterns/logo_350.png" class="login-logo-image"/>

        <div class="login-header-container">
            <div class="login-header">ProActive Automation Dashboard <span class="login-font-normal">login</span></div>

            <div class="login-form-container">

                <form class="form-horizontal" id="login-form" ng-submit="login()">

                    <div class="form-group">
                        <label class="control-label">{{'Username'|translate}}: </label>
                        <input type="text" id="username" ng-model="username" required autofocus>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{'Password'|translate}}: </label>
                        <input type="password" id="password" ng-model="password" required>
                    </div>

                    <div class="form-group">
                        <div class="buttons-container">
                            <button type="submit" class="btn btn-primary">{{'Connect'|translate}}</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
        <div class="alert alert-danger" ng-show="errorMessage" style="padding:0px;margin-bottom:0px;border: 1px solid red;">
            <strong>{{'Unable to login'|translate}}.</strong> {{errorMessage}}
        </div>
        <a ng-if="showLinkAccountCreation" href="https://www.activeeon.com/register/web-download" target="_blank">{{'Or create an account'|translate}}</a>
    </div>
</div>
