<div id="login-view"  ng-controller="loginController">
    <div class="login-container">
        <img src="styles/patterns/logo_350.png" class="login-logo-image"/>

        <div class="login-header-container">
            <div class="login-header">ProActive Automation Dashboard <span class="login-font-normal">login</span></div>

            <div class="login-form-container">

                <form action="/" class="form-horizontal" id="login-form">

                    <div class="form-group">
                        <label class="control-label">Username: </label>
                        <input type="text" id="username" ng-model="username" required autofocus>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password: </label>
                        <input type="password" id="password" ng-model="password" required>
                    </div>

                    <div class="form-group">
                        <div class="buttons-container">
                           <button type="button" class="btn btn-primary" ng-click="login()">Connect</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
        <div class="alert alert-danger" ng-show="errorMessage">
            <strong>Unable to login.</strong> {{errorMessage}}
        </div>
        <a ng-if="showLinkAccountCreation" href="https://www.activeeon.com/register/web-download" target="_blank">Or create an account</a>
    </div>
</div>
