<div class="wrapper wrapper-content animated fadeInRight">

    <h1>The content you are trying to access is not available for community edition.</h1>
    <br/> <!--Maybe put an image here -->
    <h2>Please click <a href="https://www.activeeon.com/register">here</a> to subscribe to enterprise edition or contact us :</h2>

    <div class="col-lg-6 col-lg-offset-3" style="background: #F47932; height: 110px; color: white; padding: 30px; margin-top: 50px;">
        <h3> Email: contact@activeeon.com </h3>
        <h3> Phone: +33 988 777 660 </h3>
    </div>

</div>
