<div class="wrapper wrapper-content animated fadeInRight">

    <!-- MONITORING -->
    <div class="row" ng-controller="MonitoringController">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                  <h1>{{nbRunningServices}}</h1>
                  <small>Service instances</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{nbRunningProcesses}}</h1>
                    <small>Running processes</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{nbPendingRequests}}</h1>
                    <small>Pending requests</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{nbServices}}</h1>
                    <small>Services in catalog</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{nbTotalProcesses}}</h1>
                    <small>Processes today</small>
                </div>
            </div>
        </div>
    </div>

    <!-- SERVICES / PROCESSES / CATALOG -->
    <div class="row">

        <!-- SERVICES AND PROCESSES -->
        <div class="col-lg-6">

            <!-- RUNNING SERVICES -->
            <div class="ibox float-e-margins" ng-controller="PCARunningServicesController">
                <div class="ibox-heading">
                    <h1>Service instances</h1>
                </div>
                <div class="ibox-content">

                    <div class="input-group m-b col-sm-6">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" placeholder="Search" class="form-control" ng-model="search">
                    </div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Service Name</th>
                            <th>Instance Name</th>
                            <th>Infrastructure</th>
                            <th>Status</th>
                            <th>Endpoint</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="service in runningServicesList | toArray | filter:search"
                            ng-init="serviceModel = service['genericInfo']['pca.service.model'];
                                     instanceName = service['variables']['instance_name'];
                                     infrastructureName = service['variables']['infrastructure_name'];
                                     serviceName = service['genericInfo']['pca.service.name'];
                                     serviceInstanceId = service['variables']['pca.instance.id'];
                                     instanceId = service['variables']['id'];
                                     instanceStatus = service['variables']['status'];
                                     instanceEndpoint = service['variables']['endpoint']">
                            <td>
                                {{ serviceName | limitTo: 15 }}
                                {{ serviceName.length > 15 ? '&hellip;' : ''}}
                            </td>
                            <td>
                                {{ instanceName | limitTo: 10 }}
                                {{ instanceName.length > 10 ? '&hellip;' : '' }}
                            </td>
                            <td>
                                {{ infrastructureName | limitTo: 15 }}
                                {{ infrastructureName.length > 15 ? '&hellip;' : '' }}
                            </td>
                            <td>
                                {{ instanceStatus | limitTo: 15 }}
                                {{ instanceStatus.length > 15 ? '&hellip;' : '' }}
                            </td>
                            <td>
                                <a ng-if="instanceStatus=='RUNNING'"
                                   href="http://{{instanceEndpoint}}" target="_blank">
                                    {{ instanceEndpoint| limitTo: 45 }}
                                    {{ instanceEndpoint.length > 45 ? '&hellip;' : '' }}
                                </a>
                            </td>
                            <td>
                                <a ng-if="instanceStatus=='RUNNING'"
                                   href="">
                                    <i class="fa fa-pause"></i>
                                </a>
                                <a ng-if="instanceStatus=='ERROR'"
                                   ng-click="submitDeleteWithConfirmation(serviceModel, instanceName, infrastructureName, serviceInstanceId, instanceId)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a ng-if="service['variables']['status']=='RUNNING'"
                                   href="">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <a ng-if="instanceStatus=='RUNNING'"
                                   ng-click="submitDeleteWithConfirmation(serviceModel, instanceName, infrastructureName, serviceInstanceId, instanceId)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a ng-if="instanceStatus=='RUNNING'"
                                   href="">
                                    <i class="fa fa-refresh"></i>
                                </a>

                                 <a ng-if="instanceStatus=='TERMINATED'"
                                   href="">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- LAST PROCESSES -->
            <div class="ibox float-e-margins" ng-controller="SchedulerController">
                <div class="ibox-heading">
                    <h1>Last processes</h1>
                </div>

                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>Process Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in jobsList">
                            <td>{{job.jobOwner}}</td>
                            <td>
                                {{ job.jobInfo.jobId.readableName | limitTo: 20 }}
                                {{ job.jobInfo.jobId.readableName.length > 20 ? '&hellip;' : ''}}
                            </td>
                            <td>{{job.jobInfo.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- CATALOG -->
        <div class="col-lg-6">

            <div class="ibox float-e-margins" ng-controller="PCACatalogController">
                <div class="ibox-heading">
                    <h1>Catalog of services</h1>
                </div>
                <div class="ibox-content col-sm-12">
                    <div class="input-group m-b col-sm-6">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" placeholder="Search" class="form-control" ng-model="query">
                    </div>

                    <div class="ibox-content" slim-scroll box-height="600px">
                      <div class="row">
                        <div ng-repeat="service in servicesList | filter:query track by service.name">
                          <div class="col-md-3 col-lg-2">
                            <div class="panel panel-default" ng-click="showSubmitWorkflowModal(service)">
                                <div class="panel-body" box-height="600px">
                                    <img ng-src="{{findImageUrl(service)}}"
                                         alt="{{service.name}}"
                                         style="max-width: 100%;max-height: 100%;"/>
                                </div>
                                <div class="panel-footer">
                                    {{ service.name | limitTo: 10 }}
                                    {{service.name.length > 10 ? '&hellip;' : ''}}
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
