<div class="wrapper wrapper-content animated fadeInRight">

    <!-- MONITORING -->
    <div class="row" ng-controller="APPMonitoringController">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{nbRunningJobs}}</h1>
                    <small>Running jobs</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{totalNumberOfRunningTasksInAllRunningJobs}}</h1>
                    <small>Running tasks</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{totalNumberOfPendingTasksInAllRunningJobs + totalNumberOfPendingTasksInAllPendingJobs}}</h1>
                    <small>Pending tasks</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{nbTotalJobs}}</h1>
                    <small>Today's jobs</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>{{totalNumberOfFinishedTasksInAllFinishedJobs + totalNumberOfFinishedTasksInAllPendingJobs + totalNumberOfFinishedTasksInAllRunningJobs}}</h1>
                    <small>Today's tasks</small>
                </div>
            </div>
        </div>

    </div>

    <!-- JOBS / CATALOG -->
    <div class="row">

        <!-- JOBS -->
        <div class="col-lg-6">
            <div class="ibox float-e-margins" ng-controller="APPSchedulerController">
                <div class="ibox-heading">
                    <h1>Pending jobs</h1>

                </div>

                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Job Id</th>
                            <th>User</th>
                            <th>Process Name</th>
                            <th>Progress</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in pendingjobList">
                            <td>{{job.jobInfo.jobId.id}}</td>
                            <td>{{job.jobOwner}}</td>
                            <td>
                                {{ job.jobInfo.jobId.readableName | limitTo: 20 }}
                                {{ job.jobInfo.jobId.readableName.length > 20 ? '&hellip;' : ''}}
                            </td>
                            <td>{{job.jobInfo.numberOfFinishedTasks}}/{{job.jobInfo.totalNumberOfTasks}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- RUNNING JOBS -->
            <div class="ibox float-e-margins" ng-controller="APPSchedulerController">
                <div class="ibox-heading">
                    <h1>Running jobs</h1>

                </div>

                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Job Id</th>
                            <th>User</th>
                            <th>Process Name</th>
                            <th>Progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in runningjobList">
                            <td>{{job.jobInfo.jobId.id}}</td>
                            <td>{{job.jobOwner}}</td>
                            <td>
                                {{ job.jobInfo.jobId.readableName | limitTo: 20 }}
                                {{ job.jobInfo.jobId.readableName.length > 20 ? '&hellip;' : ''}}
                            </td>
                            <td>{{job.jobInfo.numberOfFinishedTasks}}/{{job.jobInfo.totalNumberOfTasks}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- FINISHED JOBS -->
            <div class="ibox float-e-margins" ng-controller="APPSchedulerController">
                <div class="ibox-heading">
                    <h1>Finished jobs</h1>

                </div>

                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Job Id</th>
                            <th>User</th>
                            <th>Process Name</th>
                            <th>Progress</th>
                            <th>Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in finishedjobList"
                            ng-init="jobid = job['jobInfo']['jobId']['id'];">
                            <td>{{job.jobInfo.jobId.id}}</td>
                            <td>{{job.jobOwner}}</td>
                            <td>
                                {{ job.jobInfo.jobId.readableName | limitTo: 20 }}
                                {{ job.jobInfo.jobId.readableName.length > 20 ? '&hellip;' : ''}}
                            </td>
                            <td>{{job.jobInfo.numberOfFinishedTasks}}/{{job.jobInfo.totalNumberOfTasks}}</td>
                            <td><a ng-click="saveToPc(data, filename, jobid)">
                                <i class="fa fa-download"></i>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- CATALOG -->
        <div class="col-lg-6">
            <div class="ibox float-e-margins" ng-controller="APPCatalogController">
                <div class="ibox-heading">
                    <h1 class="text-center">{{view[0].catalog.title}}</h1>
                </div>

                <div class="ibox-content col-sm-12">
                        <div class="input-group col-sm-12">
                            <label class="control-label col-sm-2"> <h2>Bucket:</h2></label>
                            <div class = "col-sm-10">
                                <select class="form-control" ng-model="selectedBucket" style="font-size:16px;"
                                        ng-options="bucket.name for bucket in bucketsMetadataList track by bucket.id" ng-change="changeBucket()">
                                </select>
                            </div>
                        </div>
                        <div class="input-group m-b col-sm-6">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search" class="form-control" ng-model="query">
                        </div>

                    <div class="ibox-content" slim-scroll box-height="70vh">
                        <div class="col-sm-12" style="margin-left: -20px; " ng-repeat="workflows in workflowsMetadataList| filter:query | groupBy: 'project_name'| toArray:true | orderBy:'$key'">

                             <h3>{{workflows.$key}}</h3>

                              <div class="row">

                                <div ng-repeat="w in workflows" ng-click="showSubmitWorkflowModal(w)">
                                  <div class="col-md-3 col-lg-2">
                                    <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img ng-src="{{appFindImageUrl(w)}}"
                                             alt="{{w.name}}"
                                             />
                                        <div>
                                            <span>{{w.name}}</span>

                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div>
                                            {{ w.name }}
                                        </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
