<div class="ibox-content" ng-controller="VariablesController" style="padding-bottom:50px; overflow: auto">
    <div>
        <h2 class="text-center wf-name-title">
            <a ng-href="/scheduler/?job={{::workflow.id}}" target="/scheduler/" title="{{'Open job in scheduler portal'|translate}}" ng-if="workflow.id">
                <span class="job-id container-flex label label-default m-l-sm m-r-sm">{{::workflow.id}}</span>
            </a>
            {{::workflow.name}}
        </h2>
        <div class="container-flexbox" style="justify-content: center;">
            <div class="m-sm m-r-lg">
                <img ng-src="{{workflow.icon ? getImageUrlWithProxy(workflow.icon) : ''}}" style="height:100px;">
            </div>
            <div class="m-sm">
                <div ng-if="workflow.calendar">
                    <span class="font-bold m-r-sm">{{'Calandar'|translate}} :</span>
                    <span class="description">{{::workflow.calendar}}</span>
                </div>
                <div ng-if="workflow.bucketName">
                    <span class="font-bold m-r-sm">{{'Bucket name'|translate}} :</span>
                    <span>{{::workflow.bucketName}}</span>
                </div>
                <div>
                    <span class="font-bold m-r-sm">{{'Description'|translate}} :</span>
                    <span class="description">{{::workflow.description.trim()}}</span>
                </div>
                <div ng-if="workflow.projectName">
                    <span class="font-bold m-r-sm">{{'Project name'|translate}} :</span>
                    <span>{{::workflow.projectName}}</span>
                </div>
                <div ng-if="workflow.documentation">
                    <span class="font-bold m-r-sm">{{'Documentation'|translate}} :</span>
                    <a ng-href="{{documentationUrlWfa(workflow.documentation)}}" target="_blank">{{::workflow.documentation}}</a>
                </div>
                <div ng-if="workflow.commitTime">
                    <span class="font-bold m-r-sm">{{'Latest update'|translate}} :</span>
                    <span>{{::workflow.commitTime}}</span>
                </div>
                <div ng-if="workflow.userName">
                    <span class="font-bold m-r-sm">{{'Committed by'|translate}} :</span>
                    <span>{{::workflow.userName}}</span>
                </div>
            </div>
        </div>
        <div class="row m-b-xs container-flex w-100" ng-show="workflow.kind === 'Workflow/psa'">
            <h4 class="col-lg-3 control-label text-right">{{'Service Label'|translate}}:</h4>
            <div class="col-lg-4">
                <input class="form-control" type="text" ng-model="pcaWorkflowLabel">
            </div>
            <div class="col-md-5">
                <p>{{'Optional label that can be used to more easily identify your service in the Service Automation Portal.'|translate}}</p>
            </div>
        </div>
        <hr ng-show="workflow.variables.length">
        <ng-include src="'/automation-dashboard/views/common/workflow-variables.html'"></ng-include>
    </div>
    <div class="row fixed-bottom">
        <hr>
        <div class="alert alert-success" ng-if="successMessage">
            {{ successMessage.length > 300 ? (successMessage | limitTo: 300) + "..." : successMessage }}
        </div>
        <div class="alert alert-danger" ng-if="WEsubmissionErrorMessage">
            {{ WEsubmissionErrorMessage.length > 300 ? (WEsubmissionErrorMessage | limitTo: 300) + "..." : WEsubmissionErrorMessage }}
        </div>
        <div class="col-sm-9 col-sm-offset-3" style="padding-left: 8px;">
            <button ng-repeat="button in footerTemplate" ng-class="button.className" ng-disabled="(button.hasSpinner && isSubmissionGoingOn) || (button.hasSpinner && isStartAtToggled && !startAtFormatted)" ng-if="button.title !== 'Check' || workflow.variables.length"
                    ng-attr-data-toggle="{{'button' ||undefined}}" ng-click="button.action()">
                <span class="fa fa-check" ng-show="button.isToggle && isStartAtToggled"></span>
                {{::button.title}}
                <span class="fa fa-spinner fa-spin" ng-show="button.hasSpinner && isSubmissionGoingOn"></span>
            </button>
        </div>
        <div class="col-sm-9 col-sm-offset-3 m-t-sm" id="start-at-input-wrapper" ng-show="isStartAtToggled">
            <form role="form">
                <div class="form-group container-flexbox m-b-none p-h-xs  border-top border-bottom"
                     moment-picker="startAtFormatted"
                     min-view="year" start-view="month"
                     today="true"
                     ng-model="startAt" set-on-select="true"
                     format="{{format}}"
                     locale="{{ mainCtrl.locale }}">
                    <label for="start-at-time">{{'Start at'|translate}}</label>
                    <div class="date-picker-input p-w-md col-flex">
                <span class="input-group-addon" style="width: auto;">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                        <input class="form-control date-input" id="start-at-time"
                               ng-model="startAtFormatted"
                               ng-model-options="{ updateOn: 'blur' }"
                               locale="{{ mainCtrl.locale }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
